@page "/"
@inject ListServices ListServices

    <ListExt ListService="ListServices.ListEinkauf">
        <HeaderButtons>
            <button class="btn btn-info" title="Favoriten"><span class="oi oi-star" /> </button>
        </HeaderButtons>

    </ListExt>
    