@page "/"
@inherits IndexBase

<div style="max-width:700px">
    <ListExt ListService="ListEinkauf" IsBoldText="true">
        <HeaderButtons>
            <button @onclick="ShowFavoriten" class="btn btn-info" title="Favoriten"><span class="oi oi-star" /> </button>
            <button @onclick="Archive" class="btn btn-info" title="Liste archivieren"><span class="oi oi-file" /> </button>
        </HeaderButtons>
    </ListExt>
</div>

@if (ShowFavoritenModal)
{
<Modal OnCloseClick="CloseFavoriten">
    <br />
    <button @onclick="InsertFavoriten" class="btn btn-lg btn-primary">Ok</button>
    <br />
    <br />
    <ListExt ListService="ListServices.ListFavoriten" HideHeader="true" IsMultiSelect="true">
    </ListExt>
</Modal>
}
