@inherits ModalBase

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog" style="overflow-y:initial">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@Title</h3>
              
                @ModalHeader
            </div>
            <div class="modal-body" style="height: 500px;overflow-y: auto;">
                @ModalBody
            </div>
        </div>
    </div>
</div>

