@inherits ArchivListeBase

@if (ArchivService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Archiv</h3>
    <hr />
    <ul class="list-group">
        @foreach (var s in ArchivService.ArchivList)
        {
            <li class="list-group-item">
                <button @onclick="@(() => SetCurrent(s))" class="btn btn-info" title="Expand"><span class="oi @IconExpand(s)" /> </button>
                <span>@s</span>
                @if (Current == s)
                {
                    <hr />
                    <div>
                        <ListExt ListExtViewModel="CurrentList"
                                 HideHeader="true">
                        </ListExt>
                    </div>

                }
            </li>
        }
    </ul>
}
