@inherits ArchivListeBase

@if (ArchivService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Archiv</h3>
    <hr />
    <ul class="list-group-flush">
        @foreach (var s in ArchivService.ArchivList)
        {
            <li class="list-group-item" @onclick="@(() => SetCurrent(s))">
                @s
                @if (Current == s)
                {
                    <ListExt ListService="CurrentList"
                             HideHeader="true">
                    </ListExt>

                }
            </li>
        }
    </ul>
}
