@inherits FavoritenBase
<h3>Favoriten</h3>

@if (FavoritenList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <button @onclick="Up" class="btn btn-info" title="Nach oben"><span class="oi oi-arrow-top" /> </button>
        <button @onclick="Down" class="btn btn-info" title="Nach unten"><span class="oi oi-arrow-bottom" /> </button>
        <button @onclick="ShowDeleteButtons" class="btn btn-danger" title="Einträge löschen"><span class="oi oi-trash" /> </button>
    </div>
    <hr />

    <form @onsubmit="AddFavorit">
        <div class="form-row">
            <div class="form-group col-md-2 col-6">
                <input @bind="newFavorit" class="form-control" placeholder="Neuen Favoriten eingeben" />
            </div>
            <div class="form-group col-md-1 col-2">
                <button type="submit" class="btn btn-primary" title="Hinzufügen"><span class="oi oi-plus" /></button>
            </div>
        </div>
    </form>

    <ul class="list-group">

        @foreach (var favorit in FavoritenList)
        {
            <li class="col-md-2 col-8 @GetActiveClass(favorit)" @onclick="@(() => SetCurrent(favorit))">
                <div class="row">
                    <div class="col-10">
                        @favorit.Name
                    </div>
                    @if (IsDeleteMode)
                    {
                        <div class="col-2">
                            <button @onclick="@(() => Delete(favorit))" class="btn btn-sm btn-danger" title="Löschen"><span class="oi oi-trash" /></button>
                        </div>
                    }
                </div>
            </li>
        }
    </ul>


}