@inherits FavoritenModalBase

<h3>Favoriten einfügen</h3>

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Favoriten einfügen</h3>
                <!-- Button to close the popup -->
                <button type="button" class="close"
                        @onclick="OnCloseClick">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <!-- Edit form for the current forecast -->
            <div class="modal-body">
                <br />
                <!-- Button to save the forecast -->
                <button class="btn btn-primary">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

