@inherits ListeBase

@if (Liste == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @if (CurrentItem != null)
        {
            <button @onclick="DeleteEinkauf" class="btn btn-info" title="Delete Item @CurrentItem?.Name"><span class="oi oi-minus" /> </button>
        }
    </div>

    <form @onsubmit="AddEinkauf">
        <input @bind="newEinkauf" placeholder="Was willst du einkaufen ?" />
        <button type="submit" class="btn btn-primary" title="Hinzufügen"><span class="oi oi-plus" /></button>
    </form>

    <ul>

        @foreach (var einkauf in Liste)
        {
            <li>
                <div @onclick="@(() => ToggleIsDone(einkauf))">
                    <span class="@Erledigt(einkauf)">
                        @einkauf.Name
                    </span>
                </div>
            </li>
        }
    </ul>
}

