@inject IEinkaufService EinkaufService

<h3>Liste</h3>

@foreach(var einkauf in _Liste)
{
    <div>@einkauf.Name </div>
}

@code {
    private List<Einkauf> _Liste;

    protected override async Task OnInitializedAsync()
    {
        _Liste = await EinkaufService.GetList();
    }

}
