@inject IEinkaufService EinkaufService

    <form @onsubmit="AddEinkauf">
        <input @bind="newEinkauf" placeholder="Was willst du einkaufen ?" />
        <button type="submit">Add todo</button>
    </form>

<ul>

    @foreach (var einkauf in _Liste)
    {
    <li>
        <div @onclick="@(() => ToggleIsDone(einkauf))">
            <span class="@Erledigt(einkauf)">
                @einkauf.Name
            </span>
        </div>
    </li>
    }
</ul>

@code {
    private List<Einkauf> _Liste;
    private string newEinkauf;

    private string Erledigt(Einkauf item)
    {
        return item.IsDone ? "line-through" : "";
    }


    protected override async Task OnInitializedAsync()
    {
        _Liste = await EinkaufService.GetList();
    }

    private void AddEinkauf()
    {
        if (!string.IsNullOrWhiteSpace(newEinkauf))
        {
            _Liste.Add(new Einkauf { Name = newEinkauf });
            newEinkauf = string.Empty;
        }

    }
    private void ToggleIsDone(Einkauf item)
    {
        item.IsDone = !item.IsDone;
    }

}
