@inherits ListeBase

    <form @onsubmit="AddEinkauf">
        <input @bind="newEinkauf" placeholder="Was willst du einkaufen ?" />
        <button type="submit">Add todo</button>
    </form>

<ul>

    @foreach (var einkauf in _Liste)
    {
    <li>
        <div @onclick="@(() => ToggleIsDone(einkauf))">
            <span class="@Erledigt(einkauf)">
                @einkauf.Name
            </span>
        </div>
    </li>
    }
</ul>

